html, body {
  margin: 0;
  padding: 0;
  background: white;
  height: 100%;
  width: 100%;
}

canvas {
  background: white;
}

header {
  height: 200px;
}

#confetti{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.logo {
  width: 25%;
  margin-left: 250px;
}

img {
    height: auto;
    max-width: 100%;
}

.main-image {
  margin: auto;
}
