* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: white;
  height: 100%;
  width: 100%;
}

nav {
  height: 125px;
}

canvas {
  background: white;
}

.logo {
  width: 125px;
  margin: auto;
  display: block
}

#confetti{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.main-image {
  margin-left: 270px;
}

.parallax {
  background-image: url("assets/images/wedding.jpg");
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .9;
}
